<!doctype html>
<html ng-app>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>myPrime Video Test Utility</title>

		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">

		<style type="text/css">
			body {
				padding: 40px 0;
			}
		</style>

		<script type="text/javascript" src="flowplayer/flowplayer-3.2.12.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/main.js"></script>

	</head>
	<body>

		<div class="container" ng-controller="Main">
			Unit :
			<select class="span2" ng-model="unitId" ng-change="updateUnitId()">
				<option value="0">Unit 0</option>
				<option value="1">Unit 1</option>
				<option value="2">Unit 2</option>
				<option value="3">Unit 3</option>
			</select>

			Lessons:
			<select class="span4" ng-model="lessonSrc" ng-change="updateLessonSrc()">
				<option value="{{lesson.src}}" ng-repeat="lesson in lessons">{{lesson.text}}</option>
			</select>

			Video:
			<select ng-model="videoData" ng-change="updateVideo()">
				<option value="{{brightcoveElem.id}},{{brightcoveElem.captionSrc}}" ng-repeat="brightcoveElem in brightcoveElems">{{brightcoveElem.name}}</option>
			</select>

			<a class="btn btn-primary" ng-click="refresh()">Refresh</a>
			<p>Caption URL: {{currentClosedCaption}}</p>
			
		</div>

		<div class="hero-unit">

			<a id="player" style="display:block;width:768px;height:431px"></a>

		</div>
	</body>
</html>